html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(288deg, var(--background1) 0%, var(--background2) 50%, var(--background3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}