.header__textarea {
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    resize: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: var(--background2);
    }

    &:focus {
        outline: none;
    }
}