h1 {
    font-family: var(--font-inter);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-color2);
}

label {
    font-family: var(--font-inter);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-color3);
}