:root {
    --background1: rgba(2, 0, 36, 1);
    --background2: rgba(9, 9, 121, 1);
    --background3: rgba(0, 212, 255, 1);
    --background4: rgba(255, 255, 255, 1);
    --text-color: rgba(255, 255, 255, 1);
    --text-color2: rgba(27, 78, 97, 0.5);
    --button-color: rgba(255, 255, 255, 1);
    --button-hover-color: rgba(255, 255, 255, 1);
    --button-active-color: rgba(255, 255, 255, .5);
    --button-bg-color: rgb(213, 60, 60);
    --button-hover-bg-color: rgba(213, 60, 60, .8);
    --button1-bg-color: rgb(48, 163, 30);
    --button1-hover-bg-color: rgba(48, 163, 30, .8);
}